In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("flats.csv")

In [3]:
df.shape

(5589, 3)

In [4]:
df.head()

,header,price,subtitle
0,"3-комнатная квартира, 62.7 м², 2/9 этаж",31000000,"Казыбек би р-н, мкр Юго-Восток, Степной 3 3/8"
1,"2-комнатная квартира, 54 м², 14/16 этаж",18500000,"Казыбек би р-н, мкр Юго-Восток, Республики 18/2"
2,"3-комнатная квартира, 49 м², 5/5 этаж",18500000,"Казыбек би р-н, мкр Юго-Восток, Муканова — Стр..."
3,"2-комнатная квартира, 44 м², 2/9 этаж",18000000,"Казыбек би р-н, мкр Юго-Восток, Мкр муканова 17"
4,"4-комнатная квартира, 80 м², 2/5 этаж",40000000,"Казыбек би р-н, мкр Михайловка , Касыма Аманжо..."

In [5]:
rooms_count = pd.Series(name="rooms_count", dtype=int, data=np.zeros(len(df)))
area = pd.Series(name="area", dtype=float, data=np.zeros(len(df)))
floor = pd.Series(name="floor", dtype=int, data=np.zeros(len(df)))
max_floor = pd.Series(name="max_floors", dtype=int, data=np.zeros(len(df)))

splited_headers = []

In [6]:
def fill_splited_headers():
    for header in df["header"]:
        splited_headers.append(header.split(","))

In [7]:
fill_splited_headers()

In [8]:
def fill_rooms_count():
    for i in range(len(splited_headers)):
        rooms_count.update({i: int(splited_headers[i][0][0])})

In [9]:
def fill_area():
    for i in range(len(splited_headers)):
        num = splited_headers[i][1].replace("м²", "")
        area.update({i : float(num)})

In [10]:
def fill_floors():
    for i in range(len(splited_headers)):
        if(len(splited_headers[i]) == 3):
            cur_floors = splited_headers[i][2].replace(" этаж", "").split("/")
            if len(cur_floors) == 2:
                floor.update({i : int(cur_floors[0])})
                max_floor.update({i: int(cur_floors[1])})
            else:
                floor.update({i : int(cur_floors[0])})

In [11]:
fill_rooms_count()
fill_area()
fill_floors()

In [12]:
import re

In [13]:
district = pd.Series(name="district", dtype=str, data=np.zeros(len(df)))
micro_district = pd.Series(name="micro_district", dtype=str, data=np.zeros(len(df)))
street = pd.Series(name="street", dtype=str, data=np.zeros(len(df)))
splited_subtitles = []

In [14]:
def fill_splited_subtitles():
    for subtitle in df["subtitle"]:
        splited_subtitles.append(subtitle.split(","))

In [15]:
fill_splited_subtitles()

In [16]:
def fill_districts():
    for i in range(len(splited_subtitles)):
        if len(splited_subtitles[i]) > 1:
            district.update({i: splited_subtitles[i][0].lower()})
        else:
            street.update({i : re.sub("\/", "", re.sub("\d", "", splited_subtitles[i][0].lower()))})

In [17]:
def fill_micro_districts():
    for i in range(len(splited_subtitles)):
        if len(splited_subtitles[i]) > 1: 
            micro_district.update({i: splited_subtitles[i][1].lower()})

In [18]:
def fill_streets():
    for i in range(len(splited_subtitles)):
        if len(splited_subtitles[i]) > 2:
            street.update({i: re.sub("\/", "", re.sub("\d", "", splited_subtitles[i][2].lower()))})

In [19]:
fill_districts()
fill_micro_districts()
fill_streets()